::-moz-selection{background: #854fb9; color: #fff }
::selection {background: #854fb9;color: #fff}
ul li{
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
.App{
  position: fixed;
  height: 100%;
  width: 100%;
}
h2{
  font-family: Roboto,PingFangSC;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #474e5d;
  margin: 0 !important;
}
h2 small{
  font-size: 16px;
}
h3{
  font-family:  Roboto,PingFangSC;
  font-size: 20px;
  font-weight: 500 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: normal;
  color: #343945;
  margin-bottom: 8px !important; 
}
h5{
  font-family: Roboto,PingFangSC;
  font-size: 16px;
  font-weight: 500 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #343945;
}
label{
  font-family: Roboto,PingFangSC;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 12px; 
}
p{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #343945;
  margin-bottom: 0px !important;
}
.Description{
  font-family: Roboto,PingFangSC;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 14px;
  letter-spacing: normal;
  color: #a2a9be;
}
.Description.Regular{
  color: #343945;
  font-size: 12px;
}
.Text-left{
  text-align: left;
}
.Text-right{
  text-align: right;
}
.left{
  float: left;
}
.right{
  float: right;
}
.Green{
  color: #29b565;
}
.Pink{
  color: #854fb9;
}
.Tip{
  background: #efe6f8;
  width: 24px;
  height: 24px;
  display: inline-block;
  color: #854fb9;
  border-radius: 20px;
  text-align: center; 
  font-size: 20px;
  margin: 2px;
}
.icon{
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 4px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center; 
}
.icon.ok{
  background: url('./Image/group-2.svg') 
}
.icon.up{
  background: url('./Image/Up.svg') no-repeat center center;
}
.icon.down{
  background: url('./Image/down.svg') no-repeat center center;
}
.CardContent{
  padding: 24px;
}
.main-layout{
  height: inherit;
  background: rgba(213, 218, 229, 0.15);
}
.main-layout-sider{
  border-right: 1px solid #eff0f5;
}
.content{
  position: relative;
  height: 100%;
  overflow-y: auto;
}
.TitleCard{
  padding-top: 12px; 
  padding-bottom: 20px;
}
.SideCard.Main{
  padding: 20px;
  padding-right: 472px;
}
.SideCar.Right{
  position: fixed;
  right: 0;
  width: 451px;
  top: 0;
  max-width: 451px;
  height: inherit;
  border-left: 1px solid #eff0f5; 
  background-color: #FFF; 
}
.showTitle{
  padding-top: 12px;
  padding-bottom: 20px; 
}
.showContent .Date{
  color: #8c96ad;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.showContent .items .item {
  padding-top: 12px; 
}
.showContent .items .item img{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 8px; 
}
.showContent .items .item .content{
  display: inline-block;
  margin-top: 8px; 
}
.column.Operating{
  display: flex;
}
.column.Operating .Ocard{
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.06), 0 4px 8px 0 rgba(35, 35, 36, 0.04);
}
.column.Operating .Ocard.flex1{
  background-image: linear-gradient(311deg, #8454cd, #854fb9 32%, #484999);
}
.Operating>.flex2{
  flex: 2;
}
.Operating>.flex1{
  flex: 1;
}
.column.Operating div{
  margin-right: 20px
}
.column.Operating div:last-child{
  margin-right: 0px; 
}
.Operating .Group{
  display: flex;
}
.Operating .Group .flex1{
  flex: 1;
}
.Operating .Group .item{
  border-right: 1px solid #eff0f5 ;
}
.Operating .Group .item .Value{
  margin-top: 12px !important; 
}
.Operating .Group .item:last-child{
  border-right: none; 
}
.Group.Service label,.Group.Service .Value {
  color: #fff !important;
}
.Group.Service label,.Group.Service .Value .right{
  margin-bottom: 0;
  margin-top: 12px;
}

.Monitor .Ocard{
  height: 267px;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.06), 0 4px 8px 0 rgba(35, 35, 36, 0.04);
  background: #fff;
}
.column.News{
  display: flex;
}
.column.News .flex5{
  flex: 5
}
.column.News .flex3{
  flex: 3
}
.column.News .Ocard{
  margin-right: 20px;
}
.column.News .Ocard:last-child{
  margin-right: 0; 
}
.News .Ocard{
  height: 328px;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(73, 33, 173, 0.06), 0 4px 8px 0 rgba(35, 35, 36, 0.04);
  background: #fff;
}
.News .items{
  margin-top: 20px; 
}
.News .items .item{
  margin-bottom: 20px; 
}
.News .items .item:hover{
  background: rgba(213, 218, 229, 0.15);
  cursor: pointer;
}
.News .CardContent .Content .num{
  font-family: Roboto,PingFangSC;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #d5dae5;
}
.News .CardContent .Content .Company{
  font-family: Roboto,PingFangSC;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #343945;
}
.News .CardContent .FirstContent .Details{
  display: flex;
  margin-top: 32px; 
}
.News .CardContent .FirstContent .Details div{
  flex: 1;
}
.News .CardContent .FirstContent .Details div h5{
  margin-top: 12px; 
}
.News .CardContent .Content table tr td{
  border-bottom: 1px solid #eff0f5;
  padding: 17px 0;
}
.News .CardContent .Content table tr:last-child td{
  border: none;
}
.News .CardContent .Content table tr td:first-child{
  text-align: left;
}
.News .CardContent .Content table tr td .rateControl{
  margin-top: 8px; 
}
.News .CardContent .Content table tr td .rateControl ul{
  margin: 0 !important;
}
.News .CardContent .Content table tr td .rateControl ul .default-li{
  margin-right: 4px !important;
}
.News .CardContent .Content table tr td .rateControl .result-font{
  font-family: Roboto,PingFangSC;
  font-size: 16px;
  font-weight: 500 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #343945;
}
.News .CardContent .Content table tr td .rateControl .rate-container li.default-li{
  width: 12px;
}
.News .CardContent .Content table tr td .rateControl .rate-container .star-ico{
  width: 12px;
  height: 12px;
}

@media(max-width:1440px){
  .SideCard.Main{
    padding-right: 80px;
  }
  .SideCar.Right{
    width: 59px;
    max-width: 59px;
  }
}